<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
      
    </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Offer Acceptance in the Freight Industry</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="https://github.com/KeaganBenson/DSC180Flock" class="btn">View Project GitHub</a>
        <a href="https://github.com/radumanea23/UCSDFlockFreightCapstone/blob/main/_assets/imgs/report.pdf" class="btn">View Report</a>
        <a href="https://github.com/radumanea23/UCSDFlockFreightCapstone/blob/main/_assets/imgs/FinalPoster.pdf" class="btn">View Poster</a>
        <a href="{{ site.github.repository_url }}" class="btn">View Website GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <h1 class="MainPageHeader">Offer Acceptance in the Freight Industry</h1>
      <h3 class="authors"> Radu Manea, Benson Duong, Keagan Benson, and Nima Yazdani</h3>
      <h2 class="Introduction"> Introduction</h2>
      
      <p> Flock Freight (FF) deals with different carriers and shipments, acting as a marketplace for freight carriers to place bids on shipping orders needed to be fulfilled, which is otherwise known as a freight broker
      </p>
      <ol>
      <li> 
        <div> A Company X needs to ship an Order to a given place by a given time, but lack their own delivery vehicles. </div>
      </li>
      <li> 
        <div> Carriers are entities that offer delivery services. </div>
      </li>
      <li> 
        <div> FF is the intermediary between 1 and 2 above: One-by-one, FF processes an incoming stream of <i><b>N</b></i> offers from different carriers to deliver the order.
        </div>
        <ul>
          <li><div>Only one offer will have the cheapest delivery rate <i><b>rate <sup>t</sup></b></i></div></li>
          <li><div>FF cannot accidentally reject this offer (<i>there's no going back when FF rejects an offer!</i>) </div></li>
        </ul>
        </li>

      </ol>
      <h2 class="Data Description"> Data Description</h2>
      <div>The full dataset includes 2 tables which contain: A) the orders, and descriptive information about it (Order Time, Pickup Deadline, accommodating conditions for its mode of delivery such as transport mode, refrigeration, and hazardness, etc); B) The offers by carriers to deliver said orders - this would be a many-to-one relationship, with the reference number column (assuming it’s a singleton list) being the foreign key. The offers table includes mostly information such as the rate of the offer, whether it is pooled or not, whether it was selected, and whether it was uncovered. We also created a supplemental dataset that maps 3 digit zip code identifiers to latitude and longitude coordinates.</div>

      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/DataExplainedGood.png" alt="Dataset Flow Chart">

            <h2 class="Flock Freight and The Offer Acceptance Problem"> Flock Freight and The Offer Acceptance Problem</h2>
      <h2 class="Our Model Approach"> Our Model Approach</h2>
        <div>The model will comprise of 3 sub-models that together are used in a classification model that decides on whether an offer is acceptable or not, for a given order.</div>
        <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/ModelFlowChart.png" alt="Dataset Flow Chart">  
        

        <h4 class="Number of Offers Prediction Model">Number of Offers Prediction Model</h4>
        <div>The model takes in given order and estimates the number of offers that the order will receive.</div>  
        <div><b>Method:</b> Use order characteristics such as estimated cost, pickup and dropoff location, distance apart, size of load and truck requirements to predict the number of offers that order will receieve. </div>
        <div><b>Problem:</b> A noteable number of offers are accepted very early into the lead time. This results in the number of offers not reflecting the true amount of offers Flock would recieve if they waited till the order experied.</div>
        <div><b>Solution:</b> Weight the samples by precent into lead time when the offer was accepted. This allowed samples that were accepted further into the lead time to matter more when training the model.</div>
        <div><b>Result:</b> Acheived a mean absolute error of 2.68. This was 10.2% better than our baseline model and 6.5% better than our non-sample weighted model.</div>
        <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/NumberOffersLeadTime.png" alt="Lead Time">
        <h4 class="Rate Average Prediction Model">Rate Average Prediction Model</h4>
        <div>A model that takes in given order data and estimates the average of the rates of the offers that the order will receive</div>
       <div><b>Method:</b> Linear Regression</div>
       <div><b>Results:</b> Correlation of 85% between Predicted and Actual</div>
        <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/avg_model_r2_scatter.png" alt="R2">
        <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/avg_model_feature_importances.png" alt="Top Features">
        <div>These are the most influential features of the avg model, either strongest in positive or negative correlation or otherwise determined by the model. Categorical features follow the format "FEATURE=CLASS", so "DEST_GROUP=4" would mean order with a destination zipcode closest to region 4 (see the regions cluster map in findings to see what group numbers correspond to which regions). 
      </div>
          <h4 class="Rate Standard Deviation Prediction Model">Rate Standard Deviation Prediction Model</h4>
        <div>A model that takes in given order data and estimates the standard deviation of the rates of the offers that the order will receive</div>
        <div><b>Method:</b> Ordinalize as a binary classification ("low" StDev is 0, "high" is the median StDev), and applied Random Forest Classification for 2 classes</div>
        <div><b>Results:</b> ROC AUC Score of 65-68%</div>
      <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/sd_model_confusion_matrix.png" alt="Confusion Matrix">
      <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/sd_model_feature_importances.png" alt="Top Features">
      <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/num_model_feature_importances.png" alt="Top Features">
              <div>These are the most influential features of the stdev submodel, and in terms of a line drawn between the destination and origin, the average of population density, logged land area (see LOG(ALAND)), population, and logged temperature and precipitation of the encountered counties during the months of the order, and the (logged) amount of operating zipcode carriers encountered along the way (LOG(OPER_COUNT)), and information about proximity of the order's origin zipcode to regions (again, refer to the regions cluster map at the bottom) 
      </div>
        <h4 class="(Optional) Pooling Classification Model">Pooling Classification Model</h4>
      <div>An <b>optional</b> model that takes in given order data and classifies on whether or not the order will receive (at any point) an offer in which it needs to be pooled. This pooling model is optional in that if its predictions are used as an extra feature for the standard deviation model, then it's been observed that the standard deviation model's accuracy will boost from 67% to 70%</div>
        <div><b>Method:</b> Logistic Regression; if for a given order, it receives offers where more than half of is pooled, it is classified as Yes</div>
        <div><b>Results:</b> ROC AUC Score of 80%</div>
        <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/pooled_model_confusion_matrix.png" alt="Confusion Matrix">
        <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/pooled_model_feature_importances.png" alt="Top Features">
      <h2 class="Findings and Results">Findings and Results</h2>
      <img src="https://raw.githubusercontent.com/KeaganBenson/DSC180Flock/main/generated_visualizations/metro_clusters.png" alt="Clustering of the Zip3's into Regions">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/map_shipping_routes_by_order_amount.png" alt="Shipping Routes By Order Amount">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/map_shipping_routes_by_rates.png" alt="Shipping Routes By Rates">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/map_zipcode_amount.png" alt="Clustering of the Zip3's into Regions">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/zipcodes_avg_order_offer_amount_big.png" alt="img">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/oper_zips_by_avg_rates.png" alt="img">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/oper_zips_by_carrier_amount_fit_viridis.png" alt="img">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/paths_avg_log_oper_count.png" alt="img">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/county_popden.png" alt="img">  
      <img src="https://raw.githubusercontent.com/radumanea23/UCSDFlockFreightCapstone/main/_assets/imgs/county_temperature.png" alt="img">     
  <div>
    <h2>Conclusion</h2>

      <ul>
        <li>Our resulting offer acceptance model consists of a classifer which determines whether an offer is a good offer.</li>
        <li>We classified good offers as offers which flock freight accepted and the offers which had the lowest cost of their order. </li>
        <li>The features the logistic regression model was trained on were the offer rate and the outputs of the submodels; the estimated number of offers, the estimated cost and the estimated standard deviation. </li>
        <li>Our final model was able to select offers with an average price 4.44% lower than what Flock Freight had selected.</li>
      </ul>   
      </div>
         


      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
